.steps-form {
  display: table;
  width: 100%;
  position: relative;
}
.steps-form .steps-row {
  display: table-row;
}
.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}
.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0;
}

.eng-cap {
  color: gray;
  font-size: smaller;
}

.datepicker,
.table-condensed {
  /* background-color: white; */
  width: 400px;
  height: 400px;
}

/* .datepicker,
.picker__box .picker__table .picker__day.picker__day--today {
  color: black;
}

.datepicker,
.picker__box .picker__table .picker--focused,
.picker__box .picker__table .picker__day--selected,
.picker__box .picker__table .picker__day--selected:hover {
  background-color: white;
} */
.datepicker .table tr td.today {
  color: #000000;

  background-color: #ffa953;

  border-color: #ffb76f;
}

.datepicker .ui-datepicker.ea-bootstrap .ui-datepicker .no-slots,
.ui-datepicker.ea-bootstrap .ui-datepicker .no-slots:hover {
  background-color: #c9bca8;
}
